{% extends "base.html" %}

{% block title %}
My Lists
{% endblock title %}
{% block content %}
        <main>
            <a href="{% url "todo_list_create"%}">Create new list</a>
            <a href="{% url "todo_item_create"%}">Createa new item</a>
            <div>
                <h1>My Lists</h1>
                <table>
                    <thead>
                        <th>Name</th>
                        <th>Number of Items</th>
                    </thead>
                    <tbody>
                        <tr>
                            {% for item in list %}
                                <td><a href="{% url "todo_list_detail" item.id %}">{{ item.name }}</a></td>
                                <td>{{ item.items.all|length }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
{% endblock content %}
