{% extends "base.html" %}

{% block title %}
My Tasks
{% endblock title %}

{% block content %}
    <main>
        <div>
            <h1>{{ list.name }}</h1>
            <p>
                <a href="{% url "todo_list_update" list.id%}">Edit</a>
                <a href="{% url "todo_list_delete" list.id%}">Delete</a>
            </p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <th>Task</th>
                    <th>Due Date</th>
                </thead>
                <tbody>
                    {% for item in list.items.all %}
                    <tr>
                        <td>{{ item.task }}</td>
                        <td>{{ item.due_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
